<h1>Register</h1>
<br />
<br />

<body>
    <form onsubmit="registerFormSubmit(event)">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email address</label>
            <div class="col-sm-15">
                <input type="email" class="form-co  ntrol" id="email" placeholder="Enter email" onkeypress="handleSearch(event)" required>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <script src="~/js/Register/Register.js"></script>
</body>
